{% extends 'base.html' %}

{% block content %}
    {% for car in cars %}
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename=car['photo'])}}" class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{ car['brand'] }}</p>
              <p class="card-text">{{ car['model'] }}</p>
              <p class="card-text">{{ car['transmission'] }}</p>
              <p class="card-text">{{ car['year'] }}</p>
              <p class="card-text">{{ car['power'] }}</p>
              <p class="card-text">{{ car['fuel'] }}</p>
              <p class="card-text">{{ car['mileage'] }}</p>
              <p class="card-text">{{ car['price'] }}</p>
              <a href="{{ url_for('car', car_id=car['id']) }}" class="btn btn-primary bg-danger">Дізнатися подробиці</a>
            </div>
          </div>
        <span class="badge badge-primary">{{ car['created'] }}</span>
    {% endfor %}

{% endblock %}